<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liferec"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:name="com.example.liferec.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.liferec.MainActivity"
			android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoCapture"
			android:screenOrientation="landscape"
          	android:label="@string/app_name">
        </activity>

		<activity
		  android:name="com.dropbox.client2.android.AuthActivity"
		  android:launchMode="singleTask"
		  android:configChanges="orientation|keyboard">
		  <intent-filter>
		    <!-- Change this to be db- followed by your app key -->
		    <data android:scheme="db-w9yk4p1soc99gdu" />
		    <action android:name="android.intent.action.VIEW" />
		    <category android:name="android.intent.category.BROWSABLE"/>
		    <category android:name="android.intent.category.DEFAULT" />
		  </intent-filter>
		</activity>
        
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
   
</manifest>
